<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.education.mapper.TeacherMapper">
   <insert id="signUpForTeacher" useGeneratedKeys="true" keyProperty="tid" parameterType="com.education.bean.Teacher">
     insert into tb_teacher
     (name,password,mobile,class_adviser,create_time,update_time)
     values
     (#{name},#{password},#{mobile},#{classAdviser},#{createTime},#{updateTime})
   </insert>
   
   <insert id="bindClass" parameterType="int">
       insert into tb_teacher_class 
       (tid,cid)
        values
       (#{0},#{1})
   </insert>
   
   <select id="getTeacherByMobile" parameterType="String" resultType="com.education.bean.Teacher">
    select tid,name,password,mobile,class_adviser as classAdviser,create_time as createTime,update_time as updateTime
    from tb_teacher
    where mobile = #{mobile} and status =1;
   </select>
   
   <select id="getTeacherList" parameterType="int" resultType="com.education.bean.Teacher">
     select t.name,t.mobile,t.class_adviser as classAdviser 
     from tb_teacher as t inner join tb_teacher_class as c on t.tid = c.tid
     where c.cid = #{cid} 
   </select>
   
   <update id="updateTeacher"  parameterType="com.education.bean.Teacher" >
     update tb_teacher set mobile=#{mobile}, password=#{password}, name=#{name}, class_adviser =#{classAdviser}
     where tid=#{tid};
   </update>
</mapper>